
.nav_filters_invoices{
/*	margin-top: 10px;*/
/*	margin-right: 300px;*/
	padding: 0;
	overflow: hidden;
    float:right;
    text-align:right;

}
.nav_filters_links{
	display: inline-block;
	overflow: hidden;
	border: 1px solid #AAA;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	text-decoration: none;

	background: rgb(249,249,249);
	background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(224,224,224,1)));
	background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
	background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
	background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
	background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 );
}
.greenNav{
	background: #33FF00;
}
.yellowNav{
	background: #ffff80;
}
.orangeNav{
	background: #ffd699;
}
.nav_filters_links A{
	float: left;
	text-decoration: none;
	border-left: 1px solid #ccc;
	padding: 5px 5px;	
	display: inline-block;
	margin: 0;
	min-width: 30px;
	text-align: center;
	color: #333;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}
.nav_filters_links A:hover{
	color: #666;
    background: #e6e6e6;
}
.nav_filters_links A.first{
	border-left: none;
}
.nav_filters_links A.selected{
	background: #0080FF;
	color: white;
}
.nav_filters_links IMG{
	margin-right: 7px;
}
.nav_filters_title{
	color: #AAA;
	line-height: 33px;
	margin: 0 10px;
    margin-top: 4px;
    vertical-align:top;
}

/* @end */
